<ion-split-pane contentId="karten-inhalt">

  <ion-menu contentId="karten-inhalt">
    <ion-header>
      <ion-toolbar>
        <ion-title>Bundesländer von Deutschland</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let eintrag of bundeslandUndHauptstadtArray"
                  button
                  (click)="onMenueEintragClick(eintrag)">
          <ion-label>
           <h2>{{eintrag.bundesland}}</h2>
           <h3>{{eintrag.getKurzbeschreibungFuerListe()}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <section class="ion-page" id="karten-inhalt">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onButtonZuruecksetzen()"
                      color="secondary">Darstellung zurücksetzen</ion-button>
        </ion-buttons>
        <ion-title>Karte</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <capacitor-google-map id="landkarte"></capacitor-google-map>

    </ion-content>
  </section>

</ion-split-pane>