<ion-split-pane contentId="karten-inhalt">
  <ion-menu contentId="karten-inhalt">
    <ion-header>
      <ion-toolbar>
        <ion-title>Bundesländer von Deutschland</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let stadt of stadtLandArray" button (click)="onBundeslandClick(stadt)">
           {{stadt.bundesland}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content contentId="karten-inhalt">

  <!-- 
        "+" vor "geoBreite" und "geoLaenge" für Umwandlung von String nach Number.
        Bitte auch die Regel für agm-map in der CSS-Datei beachten, denn ohne diese wird keine Karte angezeigt.
    -->
    <agm-map [latitude]="+mittelpunktGeoBreite"
             [longitude]="+mittelpunktGeoLaenge"
             [zoom]="6">

       <agm-marker *ngFor="let stadt of stadtLandArray" 
                   [latitude]="+stadt.geoBreite" 
                   [longitude]="+stadt.geoLaenge">

         <agm-info-window>{{stadt.getInfoText()}}</agm-info-window>

       </agm-marker>

    </agm-map>

  </ion-content>

</ion-split-pane>