<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Landeshauptstädte in Deutschland</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- 
        "+" vor "geoBreite" und "geoLaenge" für Umwandlung von String nach Number.
        Bitte auch die Regel für agm-map in der CSS-Datei beachten, denn ohne diese wird keine Karte angezeigt.
    -->
  <agm-map [latitude]="+geoBreite"
            [longitude]="+geoLaenge"
            [zoom]="18">

            <agm-marker [latitude]="+marker1geoBreite" [longitude]="+marker1geoLaenge">
              <agm-info-window>Landeshauptstadt von Baden-Württemberg</agm-info-window>
            </agm-marker>
  </agm-map>

</ion-content>
